$light-blue: #05EDE3;
$purple: #7978D9;
$dark-blue: #000A4A;
$orange: #FA8C10;
$pink: #FF57D3;

$primary-txt: #fff;
$highlighted-txt: $purple;
$primary-modal-bg: #fff;
$primary-btn-bg: $purple;
$primary-input-border: #555555;