@use "../../styles/" as *;

.recordForm {
    @include mixins-display-flex();
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.radioInput {
    width: 100%;
    @include mixins-display-flex();

    > label {
        display: block;
        flex: 1;
        height: 56px;
        background-color: #B9B9B9;
        @include mixins-display-flex();
        border-radius: 4px;
        transition: 150ms background ease-in-out;
        color: $colors-primary-txt;
        cursor: pointer;

        &.incomeLabel:has(> input:checked) {
            background-color: #3A9FF1;
        }

        &.expenseLabel:has(> input:checked) {
            background-color: #FF576B;
        }
        
        > input {
            display: none;
        }
    }

}

.submitBtn {
    @include mixins-primary-button();
    padding: 10px 47px;
    font-weight: 700;
    font-size: 0.875rem;
}