@use "../../styles/" as *;

.inputField {
    position: relative;
    width: 100%;
    @include mixins-display-flex(center, flex-start);
    gap: 5px;
    flex-direction: column;

    .prefix {
        height: 100%;
        padding: 24px 0 0 20px;
        position: absolute;
        font-size: 1rem;
        @include mixins-display-flex();
    }

    > label {
        font-size: 1rem;
        
        &::first-letter {
            text-transform: capitalize;
        }
    }

    > input, > select {
        width: 100%;
        padding: 18px 12px;
        border: 1px solid $colors-primary-input-border;
        border-radius: 4px;
        font-size: 1rem;
    }

    > select {
        position: relative;
        appearance: none;
        cursor: pointer;
    }
}

.inputField:has(> select)::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 8px 0 8px;
    border-color: #000000 transparent transparent transparent;
    inset: 50% 20px auto auto;
    transform: translateY(75%);
    z-index: 10;
    pointer-events: none;
}

.inputField:has(> .prefix) > input {
    padding-left: 44px;
}