@use "../../styles/" as *;

.header {
    width: 100%;
    padding: 40px 100px;
    @include mixins-display-flex(space-between);
}

.logoBox {
    @include mixins-display-flex(flex-start);
    gap: 5px;

    > img {
        width: 45px;
        height: 45px;
    }

    .appName {
        font-size: 2.25rem;
        font-weight: bold;
        color: $colors-primary-txt;
    }
}

.userBox {
    @include mixins-display-flex();

    .editBtn {
        background-color: transparent;
        border: none;
        @include mixins-display-flex();
        
        > img {
            width: 56px;
            height: 56px;
        }
        
        .username {
            font-size: 0.875rem;
            font-weight: 700;
            color: $colors-primary-txt;
        }
    }


    .logoutBtn {
        background-color: transparent;
        border: none;
        margin-left: 16px;

        > img {
            width: 22px;
            height: 27px;
        }
    }
}