@use "../../styles/" as *;

.financeList {
    max-width: fit-content;
}

.financeRow, .header {
    display: grid;
    grid-template-columns: 
        [ date ] 102px 
        [ weekday ] 100px 
        [ description ] 255px 
        [ category ] 130px
        [ value ] 100px
        [ edit-btn ] 28px
        [ del-btn ] 28px;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.financeRow {
    border-bottom: 1px solid $colors-stroke;
}

.header {
    @include mixins-light-box-shadow();
    border-radius: 10px;
}

.col {
    position: relative;
    @include mixins-display-flex();
    gap: 10px;
    user-select: none;

    &:not(:first-child) {
        text-align: center;
    }

    .content {
        font-size: .875rem;
        font-weight: bold;
    }

    .triangle {
        content: "";
        @include mixins-triangle(8px, 5px,#3A9FF1);

        &.descendant {
            transform: rotate(180deg);
        }
    }
}

.dateCol {
    justify-content: flex-start;
}

.dateCol, .valueCol {
    cursor: pointer;
}

.rows {
    @include mixins-display-flex(flex-start);
    flex-direction: column;
    gap: 5px;
}

.row {
    @include mixins-display-flex(flex-start);

    &:not(:first-child) {
        justify-content: center;
        text-align: center;
    }

    .content {
        font-size: 0.875rem;
    }
}

.financeRow[data-type='income'] .valueRow .content {
    color: $colors-income-txt;
}

.financeRow[data-type='expense'] .valueRow .content {
    color: $colors-expense-txt;
}

.removeBtnBox {
    align-self: center;
    position: relative; 
    width: 24px;
    height: 24px;
}

.editBtn, .removeBtn {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: transparent;
    align-self: center;

    > img {
        width: 100%;
        height: 100%;
    }
}

.deleteConfirmationBox {
    position: absolute;
    inset: auto 0px -54px auto;
    background-color: #E4F2FD;
    z-index: 5;
    @include mixins-display-flex();
    flex-direction: column;
    gap: 4px;
    padding: 8px;
    border-radius: 4px;

    &::after {
        content: "";
        position: absolute;
        @include mixins-triangle(17px, 13px, #E4F2FD);
        inset: auto 5px 46px auto;
        z-index: 10;
    }

    > span {
        font-size: 0.625rem;
    }

    .deletionOptions {
        @include mixins-display-flex();
        gap: 7px;

        > button {
            padding: 2px 10px;
            border-radius: 4px;
            font-size: 0.563rem;
            color: $colors-primary-txt;
        }

        .confirm {
            background-color: #3A9FF1;
        }

        .cancel {
            background-color: #FF576B;
        }
    }
}